# =============== #
# Unity generated #
# =============== # 
UnityProject/[Ll]ibrary/
UnityProject/[Ll]ogs/
UnityProject/[Tt]emp/
UnityProject/[Oo]bj/
UnityProject/[Pp]ackages/
UnityProject/ProjectSettings/
UnityProject/UserSettings/
UnityProject/Assets/GIT_IGNORE/
UnityProject/Assets/GIT_IGNORE.meta
UnityProject/.vs/
UnityProject/.vsconfig
/build.windows/
/build.android/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
UnityProject/.vs/
Assembly-CSharp-Editor-firstpass-vs.csproj
UnityVS.VersionSpecific.dll

# ============ #
# OS generated #
# ============ #
src/.DS_Store
src/.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

# ============ #
# Razvan       #
# ============ #
PersonalResources/