# =============== #
# Unity generated #
# =============== # 
Framework/[Ll]ibrary/
Framework/[Ll]ogs/
Framework/[Tt]emp/
Framework/[Oo]bj/
Framework/[Pp]ackages/
Framework/ProjectSettings/
Framework/UserSettings/
Framework/Assets/GIT_IGNORE/
Framework/Assets/*.meta
Framework/.vs/
Framework/.vsconfig
/build.windows/
/build.android/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
UnityProject/.vs/
Assembly-CSharp-Editor-firstpass-vs.csproj
UnityVS.VersionSpecific.dll

# ============ #
# OS generated #
# ============ #
src/.DS_Store
src/.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

# ============ #
# Razvan       #
# ============ #
PersonalResources/